<% include header %>
    <div class="main flexV">
        <div class="graycover"></div>
        <% include mastHead %>
        <div class="medBlank"></div>
        <div class="headline">Calculate your financial future.</div>
        <div class="medBlank"></div>
        <div class="interactiveForm flexV" id="calcForm">
            <label for="calcInput" id="calcInputLabel"></label>
            <input type="text" class="interactiveField" id="calcInput" autocomplete="off">
            <button class="buttons" id="calcInputButton">Next</button>
        </div>
    </div>
    <script src="/javascripts/calculator.js"></script>

<% include footer %>