<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="medBlank"></div>
        <div class="headline">Calculate your financial future.</div>
        <div class="medBlank"></div>
        <div class="interactiveForm flexV" id="calcForm">
            <label for="calcInput" id="calcInputLabel"></label>
            <input type="text" class="interactiveField" id="calcInput" autocomplete="off">
            <button class="buttons" id="calcInputButton">Next</button>
        </div>
        <div class="results" id="resultsField"></div>
        <div class="inform sizeUp" id="toAction" style="display: none;"></div>
        <div class="breakdown" id="breakdownField"></div>
    </div>
    <script src="/javascripts/formulas.js"></script>
    <script src="/javascripts/calculator.js"></script>

<% include footer %>

