<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title><%= title %></title>
        <meta name="author" content="Collin and Reed Rudkin">
        <meta name="description" content="Look into your financial future. Miroctus is an automated financial advisor and investment calculator that makes maximizing your asset growth easier than ever.">
        <meta name="keywords" content="investment, finance, financial, money, advice, calculator, future, planning, growth">
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Raleway:400,700" rel="stylesheet">
        <link rel='shortcut icon' href='/images/eighth.ico' type='image/x-icon'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="nav" id='nav'>
            <div class="navX">
                <img src='/images/x.png' id='navXimg'>
            </div>
            <nav class="navItems">
                <a href='/' class='menuLink'>
                    <div class='navItem' id="navHome">
                        <span>Home</span>
                    </div>
                </a>
                <a href='/calculator' class='menuLink'>
                    <div class='navItem' id="navCalculator">
                        <span>Calculator</span>
                    </div>
                </a>
            </nav>
        </div>
        <div class="graycover"></div>