<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="medBlank"></div>
        <div class="inform container flexV translucentBG">
            <div class="sizeUp">You're already logged in.</div>
            <br>
            <div>Did you want to <a href="/profile">go to your profile</a>, 
                or <a href="/profile/edit">edit your profile information</a>?
            </div>
        </div>
        <div class="medBlank"></div>
    </div>

<% include footer %>