<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="medBlank"></div>
        <div class="container flexV translucentBG">
            <div class="messages" id="registerError"><%= msg %></div>
        </div>
        <div class="medBlank"></div>
    </div>

<% include footer %>