<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="medBlank"></div>
        <div class="container flexV">
            <div class="flexVL translucentBG" id="profileEdit">

            </div>
            <div class="messages" id="updateMessage" style="display: none"></div>
        </div>
        <div class="medBlank"></div>
    </div>
    <script src="/javascripts/profileEdit.js"></script>

<% include footer %>