<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="container flexV">
            <div class="inform flexVL translucentBG" id="userProfile"></div>
            <div class="inform translucentBG">
                <div id="allocationChart"></div>
            </div>
        </div>
    </div>
    <script src="/javascripts/portfolioBuilder.js"></script>

<% include footer %>