<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="inform sizeUp" id="userData"><%= userData %></div>
    </div>
    <script src="/javascripts/portfolioBuilder.js"></script>

<% include footer %>