<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="medBlank"></div>
        <div class="container flexV">
            <div class="flexVL translucentBG formContainer" id="loginForm">
                <!-- Profile info from database goes here -->
            </div>
        </div>
        <div class="medBlank"></div>
    </div>
    <script src="/javascripts/profile.js"></script>

<% include footer %>