<% include header %>
    <div class="main flexV">
        <% include mastHead %>
        <div class="medBlank"></div>
        <div class="container flexV">
            <div class="flexVL translucentBG formContainer" id="registrationForm">
                <label for="firstName" class="formLabel">First name:</label>
                <input type="text" class="formInput" id="firstName" name="firstName">
                <label for="lastName" class="formLabel">Last name:</label>
                <input type="text" class="formInput" id="lastName" name="lastName">
                <label for="email" class="formLabel">Email address:</label>
                <input type="email" class="formInput" id="email" name="email">
                <label for="password" class="formLabel">Password:</label>
                <input type="password" class="formInput" id="password" name="password">
                <label for="password2" class="formLabel">Confirm password:</label>
                <input type="password" class="formInput" id="password2" name="password">
                <br>
                <span class="headline">Confirm your profile details:</span>
                <label for="birthYear" class="formLabel">Birth year:</label>
                <select name="birthYear" id="birthYear" class="formSelect"></select>
                <label for="annualIncome" class="formLabel">Annual income:</label>
                <input type="text" class="formInput" id="annualIncome" name="annualIncome">
                <label for="netWorth" class="formLabel">Liquid net worth:</label>
                <input type="text" class="formInput" id="netWorth" name="netWorth">
                <button class="buttons" id="createProfileButton">Create profile</button>
                <div class="messages" id="registerError" style="display: none"></div>
            </div>
        </div>
        <div class="medBlank"></div>
    </div>
    <script src="/javascripts/formulas.js"></script>
    <script src="/javascripts/register.js"></script>

<% include footer %>