* {
    box-sizing: border-box;
}

:root {
    --green-lt: #58d68d;
    --aqua-lt: #45b39d;
    --blue-lt: #5dade2;
    --green-dk: #186a3b;
    --aqua-dk: #0b5345;
    --blue-dk: #1b4f72;
    --gray-lt: #EBF5FB;
    --bluegray-dk: #566573;
    --bluegray-lt: #95A5A6;
    --nav-width: 20%;
    --nav-left: -60%;
}

html {
    background-color: var(--blue-lt);
    background: linear-gradient(135deg, var(--aqua-lt), var(--blue-lt));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

.mast {
    font-size: .55em;
    width: 100%;
}

.graycover {
    background: var(--bluegray-dk);
    opacity: .5;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
    display: none;
}

.nav {
    position: fixed;
    height: 100%;
    width: var(--nav-width);
    left: var(--nav-left);
    background-color: var(--bluegray-lt);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navItems {
    width: 100%;
    font-size: 1.5em;
    color: var(--gray-lt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0em;
}

.navItem {
    padding: .35em 15%;
}

.menuLink {
    color: var(--gray-lt);
    text-decoration: none;
}

.menuLink:hover {
    color: var(--bluegray-lt);
}

.navItem:hover {
    color: var(--bluegray-lt);
    background-color: var(--gray-lt);
    cursor: pointer;
}

.navX {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2em 1em 1em 1em;
}

#navXimg {
    width: 2em;
    height: 2em;
}

#navXimg:hover {
    cursor: pointer;
}

.hamburger {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hamburgerText {
    color: var(--gray-lt);
    font-size: 1.5rem;
}

.hamburger img {
    width: 1.5rem;
    height: 1.5rem;
}

.hamburgerButton:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    padding: 2em;
    max-width: 1200px;
    margin: auto;
}

.flexH {
    display: flex;
    justify-content: center;
}

.flexV {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphic {
    height: 200px;
    width: 200px;
    margin: 2em;
}

img {
    height: 100%;
    width: auto;
}

p {
    margin: .5em 0em;
}

a {
    text-decoration: none;
}

.medBlank {
    height: 5em;
}

.greeting {
    color: var(--gray-lt);
    font-size: 8em;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.headline {
    color: var(--gray-lt);
    font-size: 2em;
    text-align: center;
}

.textHighlight {
    color: var(--gray-lt);
    font-size: 1.5em;
    width: 75%;
    max-width: 650px;
    border-left: 2px solid var(--gray-lt);
    border-right: 2px solid var(--gray-lt);
    padding: 0em 1em;
}

.buttons {
    color: var(--blue-lt);
    font-size: 1.25em;
    background-color: var(--gray-lt);
    border: 2px solid var(--gray-lt);
    border-radius: .25em;
    padding: .15em .75em;
    margin: .5em;
}

.buttons:hover {
    cursor: pointer;
    color: var(--gray-lt);
    background: none;
}

.interactiveForm {
    font-size: 1.25em;
    color: var(--gray-lt);
    font-family: "Noto Sans", sans-serif;
    max-width: 25em;
    text-align: center;
}

#calcInputLabel {
    height: 2.5em;
}

.interactiveField {
    font-size: 1.25em;
    color: var(--bluegray-dk);
    font-family: "Noto Sans", sans-serif;
    padding: .25em .5em;
    border-radius: .25em;
    border: none;
    width: 15em;
    margin: 1em;
}

@media only screen and (max-width: 900px) {
    :root {
        --nav-width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --nav-width: 50%;
    }
    .greeting {
        font-size: 4em;
    }
    .mast {
        font-size: 1em;
    }
    .hamburger {
        margin-bottom: 1.5em;
    }
    .interactiveField {
        width: 90%;
    }
    .textHighlight {
        width: 95%;
    }
}