* {
    box-sizing: border-box;
}

:root {
    --green-lt: #58d68d;
    --aqua-lt: #45b39d;
    --blue-lt: #5dade2;
    --green-dk: #186a3b;
    --aqua-dk: #0E6655;
    --blue-dk: #1b4f72;
    --gray-lt: #EBF5FB;
    --bluegray-dk: #566573;
    --bluegray-lt: #95A5A6;
    --gray-dk: #424949;
    --nav-width: 20%;
    --nav-left: -60%;
}

html {
    background-color: var(--blue-lt);
    background: linear-gradient(135deg, var(--aqua-lt), var(--blue-lt));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

.mast {
    width: 100%;
    margin-bottom: 1em;
}

.translucentBG {
    background: rgba(235, 245, 251, .1);
    border-radius: 1em;
    padding: 1em 2em;
}

.graycover {
    background: var(--bluegray-dk);
    opacity: .5;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
    display: none;
}

.nav {
    position: fixed;
    height: 100%;
    width: var(--nav-width);
    left: var(--nav-left);
    background-color: var(--aqua-dk);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navItems {
    width: 100%;
    font-size: 1.5em;
    color: var(--gray-lt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0em;
}

.navItem {
    padding: .35em 15%;
}

.menuLink {
    color: var(--gray-lt);
    text-decoration: none;
}

.menuLink:hover {
    color: var(--bluegray-dk);
}

.navItem:hover {
    color: var(--bluegray-dk);
    background-color: var(--gray-lt);
    cursor: pointer;
}

.navX {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2em 1em 1em 1em;
}

#navXimg {
    width: 2em;
    height: 2em;
}

#navXimg:hover {
    cursor: pointer;
}

.hamburger {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hamburgerText {
    color: var(--gray-lt);
    font-size: 1.5rem;
}

.hamburger img {
    width: 1.5rem;
    height: 1.5rem;
}

.hamburgerButton:hover {
    cursor: pointer;
}

.main {
    width: 100%;
    min-width: 380px;
    padding: 1em;
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 100%;
}

.flexH {
    display: flex;
    justify-content: center;
}

.flexV {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexVL {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.graphic {
    height: 200px;
    width: 200px;
    margin: 2em;
}

img {
    height: 100%;
    width: auto;
    color: var(--gray-lt);
}

p {
    margin: .5em 0em;
}

a {
    text-decoration: none;
}

.sizeUp {
    font-size: 1.5em;
}

.sizeUpUp {
    font-size: 2em;
}

.sizeDown {
    font-size: .75em;
}

.medBlank {
    height: 5em;
}

.greeting {
    color: var(--gray-lt);
    font-size: 6em;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}

.headline {
    color: var(--gray-lt);
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.inform {
    font-size: 1.25em;
    color: var(--gray-lt);
    width: 75%;
    text-align: center;
    margin: 1em 0em;
}

.textHighlight {
    color: var(--gray-lt);
    font-size: 1.5em;
    width: 75%;
    max-width: 650px;
    border-left: 2px solid var(--gray-lt);
    border-right: 2px solid var(--gray-lt);
    padding: 0em 1em;
}

.buttons {
    color: var(--blue-lt);
    font-size: 1.25em;
    background-color: var(--gray-lt);
    border: 2px solid var(--gray-lt);
    border-radius: .25em;
    padding: .15em .75em;
    margin: .5em 0em;
}

.buttons:hover {
    cursor: pointer;
    color: var(--gray-lt);
    background: none;
}

.interactiveForm {
    font-size: 1.25em;
    color: var(--gray-lt);
    font-family: "Noto Sans", sans-serif;
    max-width: 25em;
    text-align: center;
}

#calcInputLabelContainer {
    height: 3em;
    justify-content: flex-end;
}

.interactiveField {
    font-size: 1.25em;
    color: var(--bluegray-dk);
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    padding: .25em .5em;
    border-radius: .25em;
    border: none;
    width: 15em;
    margin: 1em;
}

.results {
    display: none;
    color: var(--gray-lt);
    font-size: 2em;
    text-align: center;
    width: 95%;
    overflow: hidden;
}

.breakdown {
    display: none;
    top: 0;
    color: var(--gray-lt);
    font-size: 1.5em;
    text-align: center;
    width: 75%;
    margin: 2em 0em;
    border-radius: 1em;
    padding: .5em;
}

ul {
    text-align: left;
}

#userProfile span {
    text-align: left;
}

#allocationDetails {
    width: 100%;
    align-items: center;
    margin: 1em;
}

#allocationDetails img {
    width: 50%;
    margin: .25em;
}

#allocationDetails span {
    font-size: .9em;
    width: 100%;
    text-align: left;
    margin: .25em .5em;
    padding: 0em .25em;
}

.chart {
    background-color: var(--gray-lt);
    border-radius: 1em;
    padding: .5em;
}

.formLabel {
    font-size: 1.15em;
    color: var(--gray-lt);
    margin-top: .25em;
}

.formInput {
    font-size: 1.15em;
    color: var(--gray-dk);
    border-radius: .25em;
    padding: .25em;
    border: none;
}

.formSelect {
    color: var(--gray-dk);
    font-size: 1.15em;
    border-radius: .25em;
    padding: .25em;
    border: none;   
}

@media only screen and (max-width: 900px) {
    :root {
        --nav-width: 30%;
    }
    #allocationDetails {
        flex-direction: column;
        align-items: center;
    }
    #allocationDetails img {
        width: 95%;
        margin: .25em;
    }
    .headline {
        font-size: 1.5em;
    }
    .inform {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --nav-width: 50%;
    }
    .greeting {
        font-size: 4em;
    }
    .mast {
        font-size: 1em;
    }
    .hamburger {
        margin-bottom: 1.5em;
    }
    .interactiveField {
        width: 90%;
    }
    .textHighlight {
        width: 95%;
    }
    .breakdown {
        width: 100%;
    }
    .translucentBG {
        padding: .75em .75em;
    }
    .headline {
        font-size: 1.25em;
    }
    .results {
        font-size: 1.5em;
    }
}